.link_underline {
  text-decoration: none;
  color: black;
  margin: 5px 10px;
}
.nav_line {
  display: flex;
  gap: 5px;
  list-style: none;
  background-color: chocolate;
  max-width: 4xl;
  justify-content: center;
  margin: 5px 5px;
  padding: 10px 20px;
}
a:hover {
  color: yellow;
}
.description {
  padding: 10px 20px;
}
body {
  gap: 20px;
}
